<title>@ViewData["Title"] - SistemaEstacionamento</title>

<environment include="Development">
</environment>
<environment exclude="Development">
</environment>

<partial name="_CookieConsentPartial" />

@RenderBody()

@RenderSection("Scripts", required: false)
